nav {
  background-color: rgb(209, 204, 204);
  font-size: 100px;
  height: 14vh;
  position: relative;
}

nav img {
  width: 13vh;
  position: absolute;
  left: 300px;
}

ul li {
  display: inline-block;
  font-size: 25px;
  transition: 0.5s;
  position: relative;
  left: 900px;
}


li:hover {
  font-size: 60px;
  color: orange;
  text-decoration-line: underline;
}

main {
  background-color: rgb(255, 255, 255);
  height: 71vh;
  display: flex;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}


.comodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
  border: 2px solid rgb(122, 122, 122);
  border-radius: 10px;
  background-color: white;
  transition: 0.5s;
}
 
.comodo:hover {
  font-size: 20px;
  height: 30vh;
  width: 20vw;
  margin: 1vh;
}
main img:hover {
  height: 30vh;
  width: 20vw;
}

main img {
  height: 20vh;
  width: 10vw;
  border-radius: 5px;
  transition: 0.1s;
}

footer {
  background-color: rgb(0, 0, 0);
  height: 15vh;
  position: relative;
  width: 205vh;
  font-size: 1.5vh;
}

footer img {
  height: 11vh;
  position: relative;
  left: 97vh;
  top: 7px;
}

footer p {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 1vh;
  left: 90.5vh;
}